@media (max-width: 559px) {
    .signin-container {
        display: flex;
          padding-top: 1rem;
          padding-bottom: 3rem;
          margin: auto;
          flex-direction: column;
          min-height: 100vh;
          width: 90%
    }
}


.loading-component-style {
    display: flex;
    justify-content:center;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
    color: white;
    width: 100%;
}

.form-control {
    border-radius: 0;
    margin-bottom: 1rem;
    width: 100%;
}

/* icon */
.icon-desgin {
    margin: auto;
    text-align: center;
    color: black;
    padding-bottom: 1rem
}

.links-style {
    text-decoration: none;
    color: black;
}

.headericon-style {
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 1rem
}

.login-register-content {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 3rem;
        margin: auto;
        flex-direction: column; 
        width: 90%;
}

@media (min-width: 768px) {
    .login-register-content {
        width: 560px;
    }
}


.outlet-content {
    min-height: calc(100vh - 50px)
}